@import '../../assets/styles/vars.scss';

.darkMode {
  .header__container {
    .left__content {
      a {
        color: $primary-dark;
        border-left: 2px solid $primary-dark;
      }
    }
    .right__content {
      a {
        color: $primary-dark;
      }
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  //box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  position: sticky;
  top: 0;
  z-index: 999;
  width: calc(100% - 40px);
  margin: 0 auto;

  .left__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 40px;

    .header__logo {
      width: 60px;
      height: 60px;
      cursor: pointer;
      transition: all 0.5s;
    }

    a {
      background-color: transparent;
      border: none;
      transition: all 0.2s ease-in-out;
      letter-spacing: 4px;
      font-size: 16px;
      font-weight: 600;
      color: $primary;
      margin-left: 10px;
      border-left: 2px solid $primary;
      padding-left: 10px;
      cursor: pointer;
      transition: all 0.3s;
      transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
      text-decoration: none;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .right__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 0;
    gap: 20px;

    .header__icon {
      width: 30px;
      height: 30px;
      transform: rotateY(180deg);
      transition: all 0.5s;

      &:hover {
        transform: scale(0.9) rotateY(180deg);
      }
    }

    .settings__buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      position: relative;

      img {
        cursor: pointer;
        transform: rotateY(180deg);
      }
    }

    .hireme__button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    a {
      color: $primary;
      font-weight: 600;
      letter-spacing: 4px;
      font-size: 14px;
      text-decoration: none;
      transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.3);
      padding-left: 10px;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header__container {
    width: 100%;
    padding: 10px 0;

    .left__content {
      padding: 0 0 0 10px;

      .header__logo {
        width: 40px;
        height: 40px;
      }
    }

    .right__content {
      padding: 0 10px 0 0;
      gap: 10px;

      .header__icon {
        width: 25px;
        height: 25px;
      }
    }
  }
}
