$primary: #0f1b61;
$secondary: #7f00e0;
$tertiary: #73bbc5;
$background: #f4f9fc;

$primary-dark: #f4f9fc;
$secondary-dark: #082032;
$tertiary-dark: #a228ff;
$background-dark: #202060;

$transition-background: background-color 0.3s ease-in-out;
